<footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="#">
              <h2>CLADIVEN</h2>
            </a>
          </figure>
        </div>

        <div class="box">
          <h3>SOBRE NOSOTROS</h3>
          <p>
            Tienda de acessorios para mujer y hombre ubicados en la ciudad de La Ceiba,Atlantida
          </p>
          <p>
            Lo mejor en accesorios enchapados de oro.
          </p>
        </div>

        <div class="box">
          <h3>SIGUENOS</h3>
          <div class="red-social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-whatsapp"></a>
          </div>
        </div>
      </div>

      <div class="grupo-2">
        <small
          >&copy;2024 <b>Ing.Mario Hernandez</b>- Todos los derechos
          reservados.</small
        >
      </div>
    </footer>