<header>
  <!--Navbar-->
  <a href="" class="logo">CLADIVEN</a>
  <input type="checkbox" id="menu-bar" />
  <label for="menu-bar"><ion-icon
      name="menu-outline"
      size="large"
    ></ion-icon></label>
  <nav class="navbar">
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="tendencia.html">Tendencia</a></li>
      <li>
        <a href="">Paginas +</a>
        <ul>
          <li><a href="anillos.html">Anillos</a></li>
          <li><a href="aritos.html">Aritos</a></li>
          <li><a href="cadenas.html">Cadenas</a></li>
          <li><a href="descuentos.html">Descuentos</a></li>
          <li><a href="preguntasFrecuentes.html">Preguntas Frecuentes</a></li>
        </ul>
      </li>
      <li><a href="acercaDeNosotros.html">Acerca De Nosotros</a></li>
      <li><a href="Contactenos.html">Contactenos</a>
      </li>

    </ul>
  </nav>
  <!--Fin Navbar-->
</header>